<a href="https://colab.research.google.com/github/rajn5181/LearnPlatform-COVID-19-Impact-on-Digital-Learning/blob/main/LearnPlatform%20COVID-19%20Impact%20on%20Digital%20Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import plotly.express as px
%matplotlib inline

In [3]:
!git clone https://github.com/rajn5181/LearnPlatform-COVID-19-Impact-on-Digital-Learning.git

fatal: destination path 'LearnPlatform-COVID-19-Impact-on-Digital-Learning' already exists and is not an empty directory.

In [6]:
district=pd.read_csv('/content/LearnPlatform-COVID-19-Impact-on-Digital-Learning/districts_info[1].csv')
products=pd.read_csv('/content/LearnPlatform-COVID-19-Impact-on-Digital-Learning/products_info[1].csv')

In [7]:
district.head()

   district_id     state  ... county_connections_ratio    pp_total_raw
0         8815  Illinois  ...                [0.18, 1[  [14000, 16000[
1         2685       NaN  ...                      NaN             NaN
2         4921      Utah  ...                [0.18, 1[    [6000, 8000[
3         3188       NaN  ...                      NaN             NaN
4         2238       NaN  ...                      NaN             NaN

[5 rows x 7 columns]

In [8]:
products.head()

   LP ID  ...                         Primary Essential Function
0  13117  ...                    LC - Digital Learning Platforms
1  66933  ...                    LC - Digital Learning Platforms
2  50479  ...  LC - Sites, Resources & Reference - Games & Si...
3  92993  ...                    LC - Digital Learning Platforms
4  73104  ...                    LC - Digital Learning Platforms

[5 rows x 6 columns]

In [10]:
district.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   district_id               233 non-null    int64
 1   state                     176 non-null    object
 2   locale                    176 non-null    object
 3   pct_black/hispanic        176 non-null    object
 4   pct_free/reduced          148 non-null    object
 5   county_connections_ratio  162 non-null    object
 6   pp_total_raw              118 non-null    object
dtypes: int64(1), object(6)
memory usage: 12.9+ KB

In [11]:
district.shape

(233, 7)

In [12]:
district.describe

<bound method NDFrame.describe of      district_id       state  ... county_connections_ratio    pp_total_raw
0           8815    Illinois  ...                [0.18, 1[  [14000, 16000[
1           2685         NaN  ...                      NaN             NaN
2           4921        Utah  ...                [0.18, 1[    [6000, 8000[
3           3188         NaN  ...                      NaN             NaN
4           2238         NaN  ...                      NaN             NaN
..           ...         ...  ...                      ...             ...
228         9515    New York  ...                [0.18, 1[  [18000, 20000[
229         8103   Tennessee  ...                [0.18, 1[   [8000, 10000[
230         4929    Virginia  ...                [0.18, 1[  [12000, 14000[
231         7975  California  ...                [0.18, 1[             NaN
232         7164  California  ...                [0.18, 1[             NaN

[233 rows x 7 columns]>

In [13]:
district.isnull().sum()

district_id                   0
state                        57
locale                       57
pct_black/hispanic           57
pct_free/reduced             85
county_connections_ratio     71
pp_total_raw                115
dtype: int64